body{
    font-family: 'Montserrat', sans-serif;
   
}

header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.principal{
     /* Encriptador - 1 Desktop */

     position: relative;
     width: 1440px;
     height: 1024px;
 
     /* Light blue/light-blue-100 */
 
     background: #F3F5FC;
}

.Text_encryptado{
resize: none;
    /* Rectangle 1 */
position: absolute;
width: 400px;
height: 944px;
left: 1000px;
top: 40px;

/* White */

background: #FFFFFF;
/* shadow */

box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
}

.Texto{
resize: none;
position: absolute;
width: 656px;
height: 704px;
left: 240px;
top: 121px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* or 48px */


color: #0A3871;
background: #F3F5FC;

}

