body{
    font-family: 'Montserrat', sans-serif;
   
}

header {
    background-color: #BBBBBB;
    padding: 20px 0;
}



.principal{
     /* Encriptador - 1 Desktop */

     position: relative;
     width: auto;
     height: 617px;
 
     /* Light blue/light-blue-100 */
 
     background: #ffeafc;
}

.cuadrado_Texto_encryptado{
    position: absolute;
    width: 415px;
    height: 553px;
    left: 818px;
    top: 29px;

    /* White */

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.Text_encryptado{
    border: 0;
    resize: none;
    position: absolute;
    width: 349px;
    height: 408px;
    left: 850px;
    top: 64px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    /* Gray/gray-400 */

    color: #495057;
}

.Texto{
    border: 0;
    resize: none;
    position: absolute;
    width: 656px;
    height: 356px;
    left: 99px;
    top: 67px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* or 48px */


    color: #0A3871;
    background: #ffeafc;
  
}

.Botton_copiar{
    box-sizing: border-box;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    position: absolute;
    width: 336px;
    height: 67px;
    left: 850px;
    top: 493px;

    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;
    transition: 1s all;
    cursor: pointer;
}

.Botton_copiar:hover{
    background: #4f8ee0;
    transform: scale(1.06);
}
.Texto_botton{
    width: 288px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    /* Dark blue/dark-blue-300 */

    color: #0A3871;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}


.cuadrado_Botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 99px;
    top: 493px; 
}

.Encriptar_Botton{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

/* White */

    color: #FFFFFF;


    /* Dark blue/dark-blue-300 */

    background: #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    transition: 1s all;
    cursor: pointer;
}

.Encriptar_Botton:hover{
    background: #447ec6;
    transform: scale(1.06);
}


.Texto_Encriptar_Botton{
    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.Desencriptar_Botton{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Light gray */

    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    transition: 1s all;
    cursor: pointer;
}

.Desencriptar_Botton:hover{
    background: #4f8ee0;
    transform: scale(1.06);
}

.Texto_Desencriptar_Botton{
    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    /* Dark blue/dark-blue-300 */

    color: #0A3871;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.advertencia{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    
    height: 18px;
    left: 99px;
    top: 459px;

}

.imagen-advertencia{
    width: 16px;
    height: 16px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}



.indicacion{
    
    height: 18px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 18px */
    
    
    /* Gray/gray-400 */
    
    color: #495057;
    
    opacity: 0.8;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;

}

footer{
    text-align: center;
    background: rgb(53,46,166);
    background: linear-gradient(90deg, rgba(53,46,166,1) 0%, rgba(238,54,194,1) 50%, rgba(166,0,255,1) 100%);
    padding: 40px;
}

.datos_del_programador{
    color: #FFFFFF;
    font-size: 20px;
    margin: 20px;
}

.logo_git{
    width: 40px;
    height: 40px;
}

.logo_git:hover{
    transform: scale(1.3);
}

.logo_linke{
    width: 40px;
    height: 40px;
}

.logo_linke:hover{
    transform: scale(1.3);
}

.imagenes_footer {
    display: flex;
    margin: 0 auto;
  }
  
.imagenes_footer img:first-child {
    margin-right: 30px;
  }